/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .break-point-indicator {
    background: orange;
    &::after {
      content: "max:600px";
    }
  }
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .break-point-indicator {
    background: crimson;
    &::after {
      content: "min:600px";
    }
  }
  
  .flex.columns-2 {
    flex-wrap: nowrap;
    & > * {
      flex-basis: 49.5%;
      margin: 0.25%
    }
  }
  .flex.columns-4 {
    & > * {
      flex: 1 0 49.5%;
      margin: 0.25%
    }
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .break-point-indicator {
    background: green;
    &::after {
      content: "min:768px";
    }
  }
  
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
  .whatson-section {
    .row-bottom {
      .container {
        grid-template-columns: 3fr 4fr;
      }
    }
  }

  .flex.columns-4 {
    & > * {
      flex: 1 0 24%;
      margin: 0.25%
    }
  }
  .header-section {
    .row {
      .container {
        .header-info {
          text-aling: left;
          order: 1;
        }
        .header-image {
          text-aling: left;
          order: 2;
        } 
      }
    }
  }
  .pricing-section {
    .row-footer-top {
      .container {
        text-align: left;
        .copyright {
          grid-column: 1 / 3;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .base-grid {
    grid-template-rows: 115px auto 115px;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .break-point-indicator {
    background: red;
    &::after {
      content: "min:992px";
    }
  }
  .mobile-menu, .mobile-menu-button {
    display: none;
  }


  .navigation-section {
    .row {
      .container {
        grid-template-columns: 170px auto 170px;
        .menu-cell {
          display: flex;
        }
        .button-cell {
          display: flex;
        }
      }
    }
  }
  .header-section {
    min-height: 1000px;
    margin-top: 150px;
  }

  .whatson-section {
    .row-top {
      .container {
        p {
          padding-left: 45px;
        }
      }
    }
    .row-middle {
      .container {
        p {
          margin: 70px;
        }
        a {
          margin-left: 70px;
        }
      }
    }
    .row-bottom {
      .container {
        p {
          margin-left: 70px;
        }
        h2 {
          margin-left: 30px;
        }
        a {
          margin-left: 70px;
        }
      }
    }
  }

  .pricing-section {
    .row-pricing {
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cell {
          width: initial;
        }
      }
    }
    .row-footer-top {
      .container {
        .copyright {
          grid-column: 1 / 5;
        }
      }
    }
  }
  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .break-point-indicator {
    background: blueviolet;
    &::after {
      content: "min:1200px";
    }
  }
  
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .container {
    width: 1140px;
  }
  
}


/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  .header-left-right {
    display: block;
  }
  .whatson-section {
    .row-top {
      .row-left-right {
        display: flex;
      }
    }
    .row-bottom {
      .row-left-right {
        display: flex;
      }
    }
  }
  .break-point-indicator {
    background: dodgerblue;
    &::after {
      content: "min:1600px";
    }
  }
  
}
/* Extra large devices (large laptops and desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
  .header-bg {
    background-image: url(../img/header-bg.svg);
    top: 0;
    background-position: bottom;
    background-size: cover;
  }

}


@media only screen and (max-width: 992px) {

  body.menu-open {
    overflow: hidden;
    .base-grid {
      right: -90%;
      overflow: hidden;
      box-shadow: -1px 0px 20px -10px black;
      .grid-overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 20;
      }
    }
    .mobile-menu {
    display: flex;
    }
  }
}