
@import 'variables.scss';

/* ==========================================================================
[Base grid]
========================================================================== */
.base-grid {
  // display: grid;
  // grid-template-rows: 115px auto 115px;
  // grid-template-rows: 1fr;
  height: 100%;
}

/* ==========================================================================
[Navigation]
========================================================================== */
.navigation-section {
  margin-top: 50px;
  .row {
    .container {
      grid-template-columns: 170px auto 170px;
      .cell {
        display: flex;
        align-items: center;
      } 
      .logo {
        font-size: 32px;
        font-weight: bold;
        color: $primary_color;
        text-decoration: none;
      }
      .menu-cell {
        justify-content: flex-end;
        .main-menu {
          .menu-container {
            text-align: right;
            li {
              a {
                font-size: 16px;
                text-decoration: none;
                color: #6f8ba7;
                padding: 10px 15px;
                margin: 0 15px;
              }
              &.active {
                a {
                  color: $primary_color;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      .button-cell {
        justify-content: flex-end;
      }
    }
  }
}

/* ==========================================================================
[Header]
========================================================================== */
.header-bg {
  background-image: url( ../img/header-bg.svg );
  position: absolute;
  top: 0;
  height: 1400px;
  width: 100%;
  background-position: bottom center;
  // z-index: 1;
}
.header-left-right {
  height: 1400px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  .header-left {
    position: absolute;
    left: -80px;
    top: 400px;
  }
  .header-right {
    position: absolute;
    right: 0;
    top: 200px;
  }
  z-index: 2;
}
.header-section {
  min-height: 1000px;
  margin-top: 150px;
  .row {
    .container {
    }
  }
}

/* ==========================================================================
[Why Choose]
========================================================================== */
.whychoose-section {
  z-index: 2;
  margin: 100px 0;
  .row-top {
    margin: 100px 0;
  }
  .row-middle {
    .container {
      .cell {
        padding: 0 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        img {
          align-self: center;
        }
        div {
          height: 250px;
        }
        h4 {
          margin: 20px auto;
        }
      }
    }
  }
}

/* ==========================================================================
[What's on]
========================================================================== */
.whatson-section {
  .row {
    margin-bottom: 250px;
  }
  .row-top {
    .container {
      h4 {
        margin-bottom: 0;
        i {
          color: $primary_color;
          font-size: 30px;
        }
      }
      p {
        margin-top: 0;
        padding-left: 45px;
        line-height: 40px;
      }
    }
    .row-left-right {
      position: absolute;
      top: 0;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      pointer-events: none;
    }
    .row-left {
      margin-top: 300px;
    }
    .row-right {
      margin-right: -70px;  
    }
  }
  .row-middle {
    .container {
      p {
        margin: 70px;
        line-height: 40px;
      }
      a {
        margin-left: 70px;
      }
    }
  }
  .row-bottom {
    .container {
      p {
        margin-left: 70px;
        line-height: 40px;
      }
      h2 {
        margin-left: 30px;
      }
      a {
        margin-left: 70px;
      }
    }
    .row-left-right {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      pointer-events: none;
    }
    .row-left {
      margin-top: -200px;
    }
    .row-right {
      margin-top: 0;
    }
  }
  a {
    color: $secondary_color;
    font-style: italic;
    text-decoration: none;
  }
}

/* ==========================================================================
[Pricing]
========================================================================== */
.pricing-section {
  .row {
    .container {

    }
  }
}

/* ==========================================================================
[Footer]
========================================================================== */
.footer-section {
  .row {
    .container {

    }
  }
}










.break-point-indicator, .window-width {
  display: none;
}

