/* Font families */
$primary_font_family: 'Lora', serif;
$secondary_font_family: 'Poppins', sans-serif;

/* Gaps and margins */
$grid_gap: 10px;
$row_margin: 10px;


/* Main colors */
$body_bg_color: #fdfdfd;
$primary_color: #ff5959;
$secondary_color: #085f63;
$dark_black: #222222;
$light_black: #333333;
$white: #ffffff;
$black: #000000;

/* Section colors */
$header_bg_color: #fff;
$sidebar_bg_color: #fff;
$footer_bg_color: #fff;
