/* Font families */
$primary_font_family: 'Nobile', sans-serif;

/* Gaps and margins */
$grid_gap: 10px;
$row_margin: 10px;


/* Main colors */
$body_bg_color: #fdfdfd;
$primary_color: #ff5959;
$secondary_color: #0096D8;
$dark_black: #000000;
$light_black: #3b3838;
$white: #ffffff;
$black: #000000;

/* Section colors */
$header_bg_color: #fff;
$sidebar_bg_color: #fff;
$footer_bg_color: #fff;
